04.Sources/Prototype/Lottos/PluggableCoreLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/PluggableCoreLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/PluggableCoreLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/PluggableCoreLibrary/obj/Debug/PluggableCoreLibrary.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/Lottos/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/Lottos/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/Lottos/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/Lottos/obj/Debug/Lottos.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/Lottos/obj/Debug/Lottos.csproj.CopyComplete
04.Sources/Prototype/Lottos/Lottos/obj/Debug/Lottos.Properties.Resources.resources
04.Sources/Prototype/Lottos/Lottos/obj/Debug/Lottos.MainForm.resources
04.Sources/Prototype/Lottos/Lottos/bin/Debug/Lottos.exe.config
04.Sources/Prototype/Lottos/LottoCoreLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/LottoCoreLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/LottoCoreLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/LottoCoreLibrary/obj/Debug/LottoCoreLibrary.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/LottoCoreLibrary/obj/Debug/LottoCoreLibrary.csproj.CopyComplete
04.Sources/Prototype/Lottos/LottoCoreLibrary/bin/Debug/HtmlAgilityPack.xml
04.Sources/Prototype/Lottos/LottoCoreLibrary/bin/Debug/EntityFramework.xml
04.Sources/Prototype/Lottos/LottoCoreLibrary/bin/Debug/BussinessCoreLibrary.dll.config
04.Sources/Prototype/Lottos/ConfigTN/obj/Debug/ConfigTN.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ConfigClient/obj/Debug/ConfigClient.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ClientSettings/obj/Debug/ClientSettings.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ClientSettings/obj/Debug/ClientSettings.csproj.CopyComplete
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/edmxResourcesToEmbed/DBModel.ssdl
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/edmxResourcesToEmbed/DBModel.msl
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/edmxResourcesToEmbed/DBModel.csdl
04.Sources/Prototype/Lottos/Biendoiloto/obj/Debug/Biendoiloto.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ThongKeBacNhoNgayCungVe/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/ThongKeBacNhoNgayCungVe/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/ThongKeBacNhoNgayCungVe/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/ThongKeBacNho/obj/Debug/ThongKeBacNho.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ThongKeBacNho/obj/Debug/ThongKeBacNho.csproj.CopyComplete
04.Sources/Prototype/Lottos/ThongKeBacNho/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/ThongKeBacNho/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/ThongKeBacNho/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/SoKetQua/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/SoKetQua/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/SoKetQua/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/SoKetQua/obj/Debug/SoKetQua.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/Lottos/bin/Debug/HtmlAgilityPack.xml
04.Sources/Prototype/Lottos/Lottos/bin/Debug/EntityFramework.xml
04.Sources/Prototype/Lottos/Lottos/bin/Debug/BussinessCoreLibrary.dll.config
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/BussinessCoreLibrary.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/BussinessCoreLibrary/obj/Debug/BussinessCoreLibrary.csproj.CopyComplete
04.Sources/Prototype/Lottos/BussinessCoreLibrary/bin/Debug/EntityFramework.xml
04.Sources/Prototype/Lottos/BussinessCoreLibrary/bin/Debug/EntityFramework.SqlServer.xml
04.Sources/Prototype/Lottos/BussinessCoreLibrary/bin/Debug/BussinessCoreLibrary.dll.config
04.Sources/Prototype/Lottos/myStruct/obj/Debug/myStruct.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ThongKeBacNhoNgayCungVe/obj/Debug/ThongKeBacNhoNgayCungVe.csproj.FileListAbsolute.txt
04.Sources/Prototype/Lottos/ThongKeBacNhoNgayCungVe/obj/Debug/ThongKeBacNhoNgayCungVe.csproj.CopyComplete
